/* line 4, main.scss */
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    font-size: .94em;
    background-color: whitesmoke;
}

/* line 12, main.scss */
main {
    width: 500px;
    margin: auto;
}

/* line 16, main.scss */
section {
    width: 100%;
}

/* line 19, main.scss */
.search {
    width: 50%;
    height: 20px;
    font-size: 1.1em;
    float: right;
    border: 1px none;
    margin-bottom: 5px;
    margin-right: 4px;
}

/* line 28, main.scss */
ul {
    padding: 0px;
    margin: 4px;
}
/* line 31, main.scss */
ul li {
    display: block;
    margin: 0px;
    padding: 0px;
}
/* line 35, main.scss */
ul li :hover {
    background-color: #fff;
    cursor: pointer;
}

/* line 41, main.scss */
a {
    margin-right: 10px;
}

/* line 44, main.scss */
.poemProp {
    width: 100%;
    background-color: ghostwhite;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
}

/* line 52, main.scss */
article {
    width: 400px;
    margin: auto;
}

/* line 56, main.scss */
footer {
    width: 100%;
    background: whitesmoke;
}
/* line 59, main.scss */
footer div {
    width: 100px;
    margin: 0 auto;
}
