/* line 4, main.scss */
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    font-size: .94em;
    background-color: whitesmoke;
}

/* line 12, main.scss */
main {
    width: 500px;
    margin: auto;
}

/* line 16, main.scss */
section {
    width: 100%;
}

/* line 19, main.scss */
.search {
    width: 50%;
    height: 20px;
    font-size: inherit;
    float: right;
    border: 1px none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}

/* line 29, main.scss */
.search:focus {
    outline: none;
    box-shadow: 0px 0px 5px #8699a4;
    -moz-box-shadow: 0px 0px 5px #8699a4;
    -webkit-box-shadow: 0px 0px 5px #8699a4;
}

/* line 35, main.scss */
ul {
    padding: 0px;
    margin: 4px;
}
/* line 38, main.scss */
ul li {
    display: block;
    margin: 0px;
    padding: 0px;
}
/* line 42, main.scss */
ul li :hover {
    background-color: #fff;
    cursor: pointer;
}
/* line 46, main.scss */
ul li :focus {
    outline: none;
    background-color: #fff;
}

/* line 53, main.scss */
.poemProp {
    width: 100%;
    background-color: ghostwhite;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
}

/* line 61, main.scss */
article {
    width: 400px;
    margin: auto;
}

/* line 65, main.scss */
footer {
    position: fixed;
    bottom: 0px;
    padding-bottom: 5px;
    width: 100%;
    background: whitesmoke;
}
/* line 71, main.scss */
footer div {
    width: 100px;
    margin: 0 auto;
}

/* line 76, main.scss */
.accordion {
    clear: both;
}

/* line 79, main.scss */
.expander {
    width: 100%;
    margin-top: 1px;
}

/* line 83, main.scss */
.expander > .title {
    background-color: black;
    color: #fff;
    padding: .1em .3em;
    cursor: pointer;
}

/* line 89, main.scss */
.expander > .body {
    background-color: #eeeeff;
    width: 100%;
}

/* line 93, main.scss */
.closed {
    display: none;
}
