/* line 3, main.scss */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
  font-size: .94em;
}

/* line 10, main.scss */
main {
  width: 60%;
  height: 90%;
  margin: auto;
  margin-top: 50px;
}

/* line 16, main.scss */
section {
  width: 100%;
  margin: auto;
}

/* line 20, main.scss */
ul {
  padding: 10px 0px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: ghostwhite;
}
/* line 25, main.scss */
ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}
/* line 29, main.scss */
ul li :hover {
  background-color: #fff;
  cursor: pointer;
}

/* line 35, main.scss */
a {
  margin-right: 10px;
}

/* line 38, main.scss */
.poemProp {
  width: 100%;
  background-color: ghostwhite;
  border: none;
}

/* line 45, main.scss */
footer {
  width: 60%;
  margin: auto;
  margin-bottom: 5px;
  z-index: 10;
}
/* line 50, main.scss */
footer div {
  width: 100px;
  margin: 0 auto;
}
