$appWidth:100%;
$bgc:#f5f5f5;

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
  font-size: .94em;
  background-color: $bgc;
}
main{
  width: 500px;
  margin: auto;
}
section{
  width: 100%;
}
.search{
  width: $appWidth/2;
  height: 20px;
  font-size: inherit;
  float: right;
  border: 1px none;
  margin-top:10px;
  margin-bottom:5px;
  padding-left: 5px;
}
.search:focus{
  outline: none;
  box-shadow: 0px 0px 5px #8699a4;
  -moz-box-shadow: 0px 0px 5px #8699a4;
  -webkit-box-shadow: 0px 0px 5px #8699a4;
}
ul{
  padding:0px;
  margin: 4px;
  li{
    display: block;
    margin: 0px;
    padding: 0px;
    :hover{
      background-color: #fff;
      cursor: pointer;
    }
    :focus{
      outline:none;
      background-color: #fff;
    }
  }
}

.poemProp{
  width: $appWidth;
  background-color: ghostwhite;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1em;
}
article{
  width: 400px;
  margin: auto;
}
footer{
  position: fixed;
  bottom: 0px;
  padding-bottom: 5px;
  width:100%;
  background:$bgc;
  div{
    width: 100px;
    margin: 0 auto;
  }
}
.accordion{
  clear: both;
}
.expander {
  width: 100%;
  margin-top: 1px;
}
.expander > .title {
  background-color: black;
  color: #fff;
  padding: .1em .3em;
  cursor: pointer;
}
.expander > .body {
  background-color: #eeeeff;
  width: 100%;
}
.closed {
  display: none;
}

